* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #0b0f19;
  color: #e5e7eb;
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #0b0f19;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #e5e7eb;
}

.logo {
  font-weight: 1200;
}

.hero {
  text-align: center;
  padding: 24px 20px;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  margin: 20px 0;
  color: #9ca3af;
}

.btn {
  padding: 12px 24px;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  text-decoration: none;
}

.section {
  padding: 80px 10%;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.skills-grid span {
  background: #111827;
  padding: 12px;
  border-radius: 6px;
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: #111827;
  padding: 20px;
  border-radius: 10px;
}

.card a {
  color: #3b82f6;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 30px;
  color: #9ca3af;
}

/* Animations */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.profile-pic {
  width: 216px;
  height: 214px;
  min-width: 160px;
  min-height: 160px;
  max-width: 351px;
  max-height: 301px;

  border-radius: 50%;
  /* object-fit: cover; */

  /* display: block;
  flex-shrink: 0; */

  border: 3px solid #2563eb;
}
